.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.gap-2 {
  gap: 1rem;
}

.font-medium {
  font-weight: 600;
}

.font-normal {
  font-weight: 400;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.text-lg {
  font-size: 1.25rem;
}

.text-base {
  font-size: 1rem;
}

.bg-white {
  background-color: white;
}

.text-gray {
  color: #323232b3;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.px-2 {
  padding: 0.75rem;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.bg-black {
  background: black;
}

.text-white {
  color: white;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-red {
  color: red;
}

.w-50 {
  width: 60%;
}

.pointer {
  cursor: pointer;
}
