@import url("../public/assets/styles/utilities.css");

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #282c3f;
  background: whitesmoke;
}
